body {
    max-width: 800px;
    margin: 0 auto;
}

.no_border_square_top {
    float: left;
    position: relative;
    overflow: hidden;
}

.top_num_tents {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.numTents {
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
}

.no_border_square_front {
    float: left;
    position: relative;
    overflow: hidden;
}

.square {
    float: left;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    cursor: pointer;
}

.tree:before {
    color: #ff0000;
    z-index: -1;
    content: '\1F332';
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
}

#result {
    font-family: 'Courier New', Courier, monospace;
}

#map {
    margin: 0 auto;
    width: 700px;
    height: 700px;
}

.text-map {
    letter-spacing: 10px;
    line-height: 20px;
}

.btn {
    margin: 10px 10px;
    padding: 5px 8px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: 1px solid rgb(194, 194, 194);
}

.btn:hover {
    color: red;
}

input[type=number] {
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.33;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgb(194, 194, 194);
}

a {
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: red;
}